@media (max-width: 992px) {

    main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* Filtres */

    .Filtres {
        width: 90%;
    }
    #filtres {
        margin-left: 6px;
    }

    #section_filtres{
        margin-left: 10px;
    }

    .Information i {
        margin: 38px 0px 39px 0px;
    }

    .TitreAside {
        margin-bottom: -50px;
        width: 97%;
    }

    .TitreAside i{
        margin-left: 15px;
        margin-right: 15px;
    }

    /* Filtres */

    /* Articles-Aside */

    #article-aside {
        display: flex;
        flex-direction: column;
        
    }

    #PopulaireBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 144px;
        padding-right: 20px;
        padding-left: 20px;
        width: 100%;
    }

    #Populaire {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 250px;
    }
    .texteAside {
        padding-left: 4px;
    }
    .sous-texte{
        margin-top: -10px;
    }
    .sous-texte p{
        margin-top: -6px;
    }

    #section_Hébergements{
        width: 100%
    }

    /* Articles-Asides */

    /* Activités */

    .AsideBox {
        width: 32%;
        justify-content: space-between;
    }

    #ActivitésMarseille h2{
        margin-left: 25px;
    }

    .ActivitésBox{
        width: 95%;
    }

    .ActivitésDiv{
        height: 290px;
    }

    .ActivitésDiv img {
        height: 211px;
    }

    /* Activités */
    /* Footer */
  
    .footer {
        padding-top: 30px;
        width: 90%;
    }

    /* Footer */

}